.aws-base{
    background-color: rgb(236, 236, 236);
    white-space: normal;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.aws-top-bar{
    background-color: #ffbbbb;
    width: 100%;
    height: 60px;
    font-size: 30px;
    display: flex;
}

.aws-content-side{
    background-color: #e3ffbd;
    width: 100%;
    height: calc(100vh - 120px);
    font-size: 30px;
    display: flex;
    padding: 10px;
}

.aws-bottom-bar{
    background-color: #adecff;
    width: 100%;
    height: 60px;
    font-size: 30px;
}

/* top bar */

.top-bar-title{
    background-color: aqua;
    height: 60px;
    width: 50%;
    display: flex;
}

.top-bar-time{
    background-color: rgb(220, 37, 226);
    height: 60px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.bar-title-text{
    background-color: rgb(39, 29, 185);
    height: 40px;
    width: 50%;
    margin: 10px;
}

.bar-time-text{
    background-color: rgb(60, 185, 29);
    height: 40px;
    width: 50%;
    margin-right: 10px ;
}

/* content side */
.content-side-plant{
    background-color: rgb(240, 98, 122);
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.content-side-plant-mid{
    margin: 0px 10px 0px 10px;
}

.side-plant-data-d{
    background-color: rgb(98, 240, 117);    
    width: 100%;
    margin: 10px 10px 5px 10px;
}

.side-plant-data-a{
    background-color: rgb(115, 46, 226);    
    width: 100%;
    margin: 5px 10px 10px 10px;
}

.plant-data-d-title, .plant-data-a-title{
    background-color: rgb(226, 208, 46);    
    width: 100%;
    height: 20%;
}

.plant-data-d-data, .plant-data-a-data {
    background-color: rgb(66, 4, 63);    
    width: 100%;
    height: 80%;
}

/* bottom bar */
.bottom-bar-footer{
    background-color: aqua;
    height: 60px;
    width: 50%;
    display: flex;
    margin: 0% 25% 0% 25%;
}

.bar-footer-text{
    background-color: rgb(60, 185, 29);
    height: 40px;
    width: 40%;
    margin: 10px 30% 10px 30%;
}