.aws-base{
    background-color: rgb(236, 236, 236);
    white-space: normal;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.aws-top-bar{
    background-color: #ffbbbb;
    width: 100%;
    height: 60px;
    font-size: 30px;
}

.aws-content-side{
    background-color: #e3ffbd;
    width: 100%;
    height: calc(100vh - 120px);
    font-size: 30px;
}

.aws-bottom-bar{
    background-color: #adecff;
    width: 100%;
    height: 60px;
    font-size: 30px;
}

.top-bar-title{
    background-color: aqua;
    height: 60px;
    width: 50%;
    display: flex;
}

.top-bar-time{
    background-color: azure;
    height: 60px;
    width: 50%;
    display: flex;
}

.bar-title-text{
    background-color: rgb(39, 29, 185);
    height: 40px;
    width: 50%;
    margin: 10px;
}

.bar-time-text{
    background-color: rgb(60, 185, 29);
    height: 50px;
    width: 50%;
    margin: 5px;
}